* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-component {
  width: 100%;
}
.mid-col-box {
  border-left: 1px solid #f0f0f0;
  border-right: 1px solid #f0f0f0;
}
.main-content-box {
  border-radius: 0.75rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 2rem 0;
  margin: 0 auto;
}

.swiper-section {
  margin: 0 auto;
  width: 90%;
  padding: 3rem 0;
}
.swiper-container {
  width: 100%;
  overflow: hidden;
  padding: 2rem;
}
.swiper-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2rem;
  gap: 0.5rem;
  border-radius: 0.75rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: 0.35s;
  cursor: pointer;
}
.swiper-content:hover {
  transition: 0.35s;
  transform: scale(1.02);
}
.swiper-content i {
  font-size: 2.65rem;
  color: #000;
}
.swiper-content h3 {
  font-size: 1.75rem;
  margin: 0;
  font-weight: 500;
  color: #000;
}
.swiper-content p {
  font-size: 1.05rem;
  margin: 0;
  font-weight: 400;
  color: #000;
}
.swiper-btn-box {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 1rem;
  margin: 2rem 0 0 0;
}
.sbb-box {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 1000px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sbb-box i {
  font-size: 1rem;
  color: #f0f0f0;
}

.marquee-section {
  background-color: #fff;
  margin: 0 auto;
  width: 90%;
  border-radius: 0.75rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.partner-logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem 2rem;
}
.marquee-section img {
  width: 150px;
  object-fit: contain;
  height: auto;
}

.accord-img-section {
  margin: 3rem auto;
  width: 90%;
  padding: 3rem 0;
}
.accordian-content .accordion-item {
  border: unset;
  border-bottom: 1px solid #c9c9c9;
}
.accordian-content button.accordion-button {
  font-size: 1.25rem;
  font-weight: 500;
  color: #333;
  margin: 0;
  padding: 1.5rem 0;
}
.accordian-content .accordion-button:not(.collapsed) {
  background-color: transparent;
  border: unset;
  box-shadow: unset;
}
.accordian-content .accordion-button:focus {
  border: unset;
  box-shadow: unset;
}
.accordian-content .accordion-body {
  padding: 0 0 1.5rem 0;
  font-size: 1rem;
  color: #0a0a0a;
  font-weight: 400;
  margin: 0;
}
.accordian-content .accordion-body img {
  display: none;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: auto;
}
.img-acco-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-acco-container img {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: none;
}
@media only screen and (max-width: 950px) {
  .swiper-section {
    width: 100%;
  }
  .swiper-container {
    padding: 0;
  }
  .main-component {
    padding: 20px;
  }
  .partner-logos {
    flex-wrap: wrap;
  }
  .marquee-section {
    width: 100%;
  }
  .accord-img-section {
    width: 100%;
  }
  .accord-img-section {
    width: 100%;
  }
}
@media only screen and (max-width: 850px) {
  .img-acco-container {
    display: none;
  }
  .accordian-content .accordion-body img {
    display: flex !important;
    margin-top: 2rem;
  }
}
